################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
testData/CnvActor-00/mosaic/*
*.tar
/__pycache__
genexus-pgta-endpoint.tar
